/* FUENTES */
@font-face {
  font-family: "Comfortaa Regular";
  src: "fonts/Comfortaa Regular.ttf";
}

html { font-family:"Comfortaa Regular" !important; }


/*  MENU PRINCIPAL **/
.nav-light{  background-color: #FFF !important; }
.navbar { height: 97px; }

.center-margin{ margin:auto; }

.nav-link, .nav-link:hover { color:#000; }
.nav-link {
  border-bottom: 2.5px solid #FFF;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  text-transform: capitalize;
  font-family:"Comfortaa Regular" !important;
  margin-left: 4px;
  margin-right: 4px;
}

.nav-link:hover { border-bottom: 2.5px solid #fdc42f; }

.brand-img {
  width: 75px;   height: auto; margin-right: 45px;
}

.navbar-collapse { flex-grow: 0; background: #FFF; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler { border: 1px solid #000; }
