html {
  scroll-behavior: smooth;
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}
section.page_section {
  position: relative;
  min-height: 100vh;
}
.wrapper_page {
  position: relative;
  z-index: 120;
}
.page_background {
  background-size: cover !important;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 100;
  /*
  -webkit-filter: blur(2px);
  filter: blur(2px);
*/
}
.page_cover {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 110;
}

.home_content {
  font-family: 'Comfortaa', cursive;
  padding-top: 10vh;
}
#home_page .home_content {
  padding-top: 0vh;
}
.home_image {
  padding-top: 40vh;
  position: relative;
}
.home_image_wrapper {
  margin: auto;
  height: 30vh;
  display: flex;
  align-items: center;
}
.home_image_wrapper img {
  width: 100%;
}
.home_content {
  text-align: center;
}
#home_page .home_content p {
  text-transform: uppercase;
  font-size: 1.8vw;
  color: #ccc;
}
#home_page .home_content p:first-child {
  margin-bottom: 0;
}



coode_footer {
  padding-top: 10px;
  background: #000;
  text-align: center;
}
.coode_footer_content .sfsi_wDiv {
  left: 0;
  right: 0;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}
.coode_footer_title {
  margin: auto;
  color: whitesmoke;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
  font-size: 18px;
}
.coode_footer .sfsi_wicons {
  margin-left: 10px!important;
  margin-right: 10px!important;
}
.coode_footer .coode_footer_info {
  text-align: right;
  padding-right: 10px;
}
.coode_footer .coode_footer_info {
  color: #bbb;
}
.coode_footer .coode_footer_info a {
  color: #666;
}


/* FUENTES */
@font-face {
  font-family: "Comfortaa Regular";
  src: "fonts/Comfortaa Regular.ttf";
}

html { font-family:"Comfortaa Regular" !important; }


/*  MENU PRINCIPAL **/
.nav-light{  background-color: #FFF !important; }
.navbar { height: 97px; }

.center-margin{ margin:auto; }

.nav-link, .nav-link:hover { color:#000; }
.nav-link {
  border-bottom: 2.5px solid #FFF;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  text-transform: capitalize;
  font-family:"Comfortaa Regular" !important;
  margin-left: 4px;
  margin-right: 4px;
}

.nav-link:hover { border-bottom: 2.5px solid #fdc42f; }

.brand-img {
  width: 75px;   height: auto; margin-right: 45px;
}

.navbar-collapse { flex-grow: 0; background: #FFF; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler { border: 1px solid #000; }
